
@{
    Layout = null;
}

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Hizmetler</h2>
            <p>Verdiğim Hizmetler</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href=""></a>Sosyal Medya Yönetimi</h4>
                    <p>Sosyal medya hesaplarınızda size özel mockuplarla özgün ve modern bir tasarım oluşturuyorum</p>
                </div>
            </div>

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">Web Tasarım</a></h4>
                    <p>En yeni teknoloji ve tasarımları kullanarak admin panel ile istediğiniz gibi yönetebileceğiniz dinamik web sitesi geliştiriyorum</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-desktop"></i></div>
                    <h4><a href="">Masaüstü Uygulama Geliştirme</a></h4>
                    <p>İsteklere göre size özel her türlü masaüstü uygulaması geliştiriyorum</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">Video Edit</a></h4>
                    <p>Sosyal medya hesaplarınızda veya reklamlarınızda kullanmanız için kısa videolar oluşturuyorum</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-id-card"></i></div>
                    <h4><a href="">Kartvizit Tasarımı</a></h4>
                    <p>Dilediğiniz tasarımda özgün kartvizit tasarımı yapıyorum</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-cake"></i></div>
                    <h4><a href="">Logo Tasarımı</a></h4>
                    <p>Size veya şirketinize özel modern logo tasarımı yapıyorum</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->